App {
  min-height: 100svh;
}

body {
  background-color: #0a0a0a;
  color: #ffffff;
}

.header {
  background-color: lch(100 100 34.5);
}

.main {
  background-color: #0a0a0a;
}

.project-container {
}

.project {
}

.project-photo {
}

.project-text-container {
}

.project-title {
}

.project-description {
}

.project-links {
}

.footer {
}
